body {
    font: 18px/1 Arial;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: rgba(0, 0, 0, 0.13);
}

.container {
    display: flex;
    height: 610px;
}

.formField {
    height: 82px;
}

.newRequestButton {
    position: relative;
    bottom: -20px;
}

.newRunner {
    background: white;
    width: 256px;
    height: 90%;
    padding: 10px 30px 30px 30px;
    margin: 20px 0px 20px 20px;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}